body {
  background-color: lightblue;			  	  
}	
/*body, html { overflow-x:hidden; }	*/	
h1 {
  background-color: black;
  text-align: center;
  text-transform: uppercase;
  color: white;			  
}
div {	  
}
p {
  text-align: justify;
  letter-spacing: 1px;
}
a {
  text-decoration: none;
  color: #008CBA;
}
video {
  width: 100%;
}
input {
	background-color: white;
}
input:hover {
  background-color: black;
  color: white;
}
#recommendation {
  background-color: lightblue;
}
#recommendation:hover {
  background-color: white;				 	  
}
#animate {
  width: 450px;
  height: 100px;
  position: absolute;
  background-color: lightblue;
}